.page.theme_light {
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png); 
  --accent-color: #ff8dcb;
  --title-shadow-color: #ff8dcb;
  --decorated-zone-color: #353430;
  --button-color: #353430;
  --title-color: #ffc2e6;
  --block-title-color: #353430;
  --button-hover-color: #32312d66;
  --title-text-color: #353430;
  --text-color: #353430;
  --display-rec: none;
  --small-gap: 10px;
  --medium-gap: 20px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

@media (width >= 1024px) {
  .header__title {
    text-shadow: 4px 4px 0px #ff0070;
  }

  .footer__text {
    text-shadow: 2px 2px 0px #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root { 
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png); 
    --accent-color: #ff8dcb;
    --title-shadow-color: #ff8dcb;
    --decorated-zone-color: #353430;
    --button-color: #353430;
    --title-color: #ffc2e6;
    --block-title-color: #353430;
    --button-hover-color: #32312d66;
    --title-text-color: #353430;
    --text-color: #353430;
    --display-rec: none;
    --small-gap: 10px;
    --medium-gap: 20px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  }
}

