:root {
  --background-color: #000028; 
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --title-shadow-color: #ff0070;
  --block-title-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --button-color: #ff0070;
  --title-color: #db00ff;
  --button-hover-color: #ff007066;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-text-color: #000028;
  --text-color: #f1b2ce;
  --display-rec: flex;
  --small-gap: 10px;
  --medium-gap: 20px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

@media (width >= 768px) {
  :root {
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
